#root {
  height: 100vh;
}

.brand-logo {
  width: 88px;
  height: 90px;
  background-image: url(../assets/images-removebg-preview.png);
  background-size: 100%;
  border: none;
}
.nav-input {
  border: none;
  border-bottom: 1px solid gray;
  padding: 9px 12px;
  margin-right: 12px;
}
.nav-input:focus {
  box-shadow: 0 3px 3px rgb(167, 167, 167);
  outline: none;
  border-radius: 5px;
}
.icon {
  font-size: 26px;
  cursor: pointer;
  color: black;
  margin-left: 10px;
  transition: color 0.3s ease;
}
