#root {
  height: 100vh;
}
.header {
  box-shadow: 0 1px 2px black;
  margin-bottom: 50px;
}

.brand-logo {
  width: 88px;
  height: 90px;
  background-image: url(../assets/images-removebg-preview.png);
  background-size: 100%;
  border: none;
}
.nav-input {
  border: none;
  border-bottom: 1px solid gray;
  padding: 9px 12px;
  margin-right: 12px;
}
.nav-input:focus {
  box-shadow: 0 3px 3px rgb(167, 167, 167);
  outline: none;
  border-radius: 5px;
}
.icon {
  font-size: 26px;
  cursor: pointer;
  color: black;
  margin-left: 10px;
  transition: color 0.3s ease;
}
.dropdown {
  position: absolute; /* Konumlandırmayı ayarla */
  background-color: white; /* Arka plan rengi */
  border: 1px solid #ccc; /* Kenarlık rengi */
  border-radius: 4px; /* Kenar yuvarlama */
  max-height: 200px; /* Yükseklik sınırlaması */
  overflow-y: auto; /* Taşmayı engelle */
  z-index: 1000; /* Diğer öğelerin üstünde göster */
}

.dropdown-item {
  padding: 10px; /* İç boşluk */
  cursor: pointer; /* Fare imlecini el şeklinde göster */
}

.dropdown-item:hover {
  background-color: #f0f0f0; /* Hover efekti */
}
